.nabar-main{
    background: #000;
    color: white;
    display: flex;
    list-style: none;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 30px;
    height: 50px;
    position: fixed;
    top: 30px;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

.btn{
    background-color: black;
  
    color: aliceblue;
    padding: 20px;
    width: 10px;
    position: absolute;
    top: 0;
}